Response codes 4.01 and 4.02 are missing from defines.py

The response codes "4.01 Unauthorized" and "4.02 Bad Option" are missing from `defines.py`

RFC 7252 section 5.9.2.2 and 5.9.2.3 define the missing response codes. The fix is to insert the following at line 209 of `defines.py`:

```python
    UNAUTHORIZED = CodeItem(129, 'UNAUTHORIZED')
    BAD_OPTION = CodeItem(130, 'BAD_OPTION')
```

and the following at line 240:
```python
        129: UNAUTHORIZED,
        130: BAD_OPTION,
```