Server auto-token generation brakes RFC 7252

From RFC 7252, section 3.5.2:

> In a piggybacked response, the Message ID of the Confirmable request and the Acknowledgement MUST match, and the tokens of the response and original request MUST match.  In a separate response, just the tokens of the response and original request MUST match.

When sending an empty token to a CoAPthon server (something that the RFC specifies to be doable and that CoAPthon clients do) the CoAPthon server generates a token and sends it back to the client. Lets call this behaviour CoAPthon server's auto-token generation.

Most clients, incliuding CoAPthon, don't check the returning token when they sent it empty so this CoAPthon server's auto-token generation behaviour does not influence them, but to fulfill the RFC 7252 the clients should reject ACKs with a token not corresponding to the one they sent, as specified a couple lines below the previous cite:

> In case a message carrying a response is unexpected (**the client is not waiting for a response** from the identified endpoint, at the endpoint addressed, and/or **with the given token**), the response is rejected (Sections 4.2 and 4.3).

Thus, CoAPthon server's auto-token generation breaks the RFC and should be avoided (if the token is used internally, at least it shouldn't be sent in the ACK message if the CON request had an empty token.

Additionally, to fulfill the RFC fully, CoAPthon client should check that the ACK token matches. This second part is not broadly extended among client implementations (and you could always interpret this behaviour not to be mandatory as sending an empty token implies you are not expecting anything, thus not receiving an unexpected token), so implementing should be lower priority, but server auto-token generation must be removed to fulfill RFC 7252.

Thanks for the comment. Yes you are right, I have to remove this behavior ASAP. I would not notice it. 

Hi Adirio, Server's auto token generation has been removed. Regarding the Client part I agree with you and I added a control to prevent the mentioned behavior.